*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.titulo {
    color: black;
    text-align: center;
}

.pie_pagina{
    text-align: center;
    font-size: 30px;
}

.main-section{
    background-color: black;
}

.main-text {
    text-align: center;
    padding: 50px;
    color: white;
}

.card {
    min-height: 300px;
  }

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.600);
    padding: 20px;
}

.select-guia {
    background-color: white;
}

.select-guia-text {
    text-align: center;
    padding: 50px;
}