.main-section {
    background-color: black;
  }
  
  .main-text {
    text-align: center;
    padding: 50px;
    color: white;
  }
  
  .card {
    min-height: 300px;
  }
  
  .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.600);
    padding: 20px;
  }
  
  .select-guia {
    background-color: white;
  }
  
  .select-guia-text {
    text-align: center;
    padding: 50px;
  }
  
  .form-section {
    padding-bottom: 200px;
  }
  
  .form-section form {
    padding: 20px;
  }
  
  .contact-section {
    background-color: white;
  }
  
  .contact-section-text {
    text-align: center;
    padding: 50px;
  }
  
  .me-section-text {
    text-align: center;
    padding: 50px;
  }
  
  .me-section p {
    padding: 50px;
  }
  